<% message = Message.new %>
<%= form_for(message, html: {class: 'form-inline well'}) do |f| %>
  <%= f.hidden_field :parent_message_id %>
  <div class="form-group col-xs-4 ">
    <%= f.label :text, class: 'sr-only' %>
    <%= f.text_area :text, class: 'form-control entry' , placeholder: 'Message', rows: 3, cols: 30%>
  </div>
  <%= f.submit  value: 'Post'%>
<% end %>
