<p><%= ('&nbsp;' * 16 * ( message.number_path.split('.').size - 1 )).html_safe %><b><%= link_to message.number_path, message %></b>
<i><%= link_to message.created_at, message %> </i>
<%= message.text %> <span class="formholder"></span>
<input type="button" class="btn btn-sm reply" value="Reply" data-parent="<%= message.id %>" style="margin-left: 20px;">
</p>


