<h1>Listing Messages</h1>

<%= render partial: 'form' %>

<ul class="messages">

  <% @messages.each do |message| %>
    <li>
    <b><%= link_to message.number_path, message %></b>
    <i><%= link_to message.created_at, message %> </i>
    <%= message.text %>
    </li>
  <% end %>
</ul>

<br>
<%= paginate @messages %>
<%= link_to 'New Message', new_message_path %>
