<h3>Tópico <%= @message.text %> </h3>
<hr/>
<%= render partial: 'message', locals: {message: @message} %>
<hr/>
<%= render @child_list %>
<%= paginate @child_list %>
<template>
<%= render partial: 'form'%>
</template>
