@import "bootstrap-sprockets";
@import "bootstrap"; 

body{
  margin-top: 70px;

}

table{
  @extend .table;
  @extend .table-condensed;
  @extend .table-striped;
  @extend .table-bordered;
}

form{
  input[type=submit] {
    margin-top: 10px;
    margin-bottom: 10px;
    @extend .btn;
    @extend .btn-primary;
  }

  .entry{
    margin-bottom: 20px;
  }
}

.container {
  ul.messages{
    li {
      margin-top: 10px;
    }
  }
}
